beacontools[scan]
cachetools
six
certifi
chardet
construct
cryptography
enum34
google-api-python-client
google-auth
google-auth-httplib2
gspread
httplib2
idna
influxdb
ipaddress
keyring
keyrings.alt
oauth2client
pyasn1
pyasn1-modules
PyBluez
pycrypto
pyserial
python-dateutil
pytz
pyxdg
requests
RPi.GPIO
rsa
SecretStorage
smbus
twitter
uritemplate
urllib3
